.container{
    height: 350px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.item{
    background-color: red;
    padding:0 5px;
    margin: 5px;
    flex: 1;
    text-align: center;
    color: white;
}

.streach{
    align-content: stretch;
}

.center{
    align-content: center;
}
.start{
    align-content: flex-start;
}
.end{
    align-content: flex-end;
}

.arount{
    align-content: space-around;
}

.between{
    align-content: space-between;
}

.column{
    flex-direction: column;
}