.flex-container{
    max-width: 500px;
    border: 1px solid black;
    display: flex;

}

.item{
    background-color: red;
    color: black;
    text-align: center;
    margin: 5px;
}

.bauto{
    flex-basis: auto;
}

.b-0{
    flex-basis: 0;
}

.fg-0{
    flex-grow: 0;
}

.fg-1{
    flex-grow: 1;
}

.fg-2{
    flex-grow: 2;
}

.w100{
    flex-basis: 100px;
}